@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aqua;
    font-family: "Noto Sans", sans-serif;
}

.container{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 8px;
}

.header{
    display: flex;
    justify-content: center;
    margin: 40px;
}

.input-email{
    margin: 20px;
    
}

#email, #password{
    width: 100%;
    height: 20px;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
}

.input-password{
    margin: 20px;
}

.remember{
    display: flex;
    justify-content: space-between;
    margin: 0 10px 40px 20px;
}

.input-check{
    display: flex;
}

.input-check input{
    margin-right: 10px;
    cursor: pointer;
}
.input-check label{
    cursor: pointer;
}

.tombol{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tombol span{
    border-bottom: 1px solid silver;
    width: 80%;
}

.tombol button{
    margin: 10px;
    width: 80%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid silver;
    cursor: pointer;
}